spring:
  application:
    name: activityservice

  data:
      mongodb:
        uri: mongodb://username:password@localhost:27017/aiactivityfitness?authSource=admin
server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true
    hostname: localhost
