spring:
  application:
    name: userservice

  datasource:
    url: jdbc:mysql://localhost:3306/fitness_micro_user
    username: root
    password: akshay

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
